@import "base";

.form-textarea-wrapper {
  @include border-radius(3px);
  border-bottom: solid 1px $white;
}

textarea,
input[type=text],
input[type=password] {
  @include border-radius(3px);
  @include box-shadow(inset 0 0 5px 1px #eee);
  border: solid 1px $drop-shadow;
  color: $default-grey;
  padding: 1rem;
  resize: none;
  &.error {
    border: solid 1px $drop-shadow;
  }
  &:focus {
    border-color: $focus;
    @include box-shadow(inset 0 0 5px 1px $drop-shadow);
  }
  &:disabled {
    background-color: $disabled;
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

fieldset.filter-wrapper {
  display: none;
}

.form-submit {
  @include border-radius(3px);
  background: $default-grey;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: $open-sans;
  font-size: 1.2rem;
  height: 3.5rem;
  line-height: 1;
  margin: 0;
  padding: 0 20px;
}

html.js .form-autocomplete {
  background-image: none;
}
.autocomplete-wrapper {
  position: relative;
  i {
    position: absolute;
    right: 1.2rem;
    top: 1.3rem;
    &.fa-refresh {
      color: $drop-shadow;
      &.fa-spin {
        color: $default-grey;
      }
    }
  }
}
#autocomplete {
  @include border-radius(0 0 3px 3px);
  border: solid 1px $drop-shadow;
  li {
    font-size: 1.2rem;
    padding: .5rem 1rem;
  }
}

// Status body field frontpage

#block-formblock-status {
  .field-name-field-body {
    float: left;
    margin-bottom: 1rem;
    width: 80%;
    label {
      display: none;
    }
  }
  .form-actions {
    float: right;
    margin: 0;
    position: relative;
    width: 19.5%;
  }
  .form-submit {
    width: 100%;
  }
  .vertical-tabs {
    clear: both;
    margin-top: 1rem;
  }
}
