@import "base";

.site-name {
  font-size: 2.5em;
  a {
    text-decoration: none;
  }
  span {
    span {
      color: $accent;
    }
  }
}

.messages {
  @include border-radius(3px);
  background-image: none;
  font-size: .8em;
  padding: 10px 15px;
}
.messages--error {
  border-color: $accent;
  color: $accent;
}
