@import "base";

@media (max-width: 960px) {
  body {
    padding: 0 20px;
  }
  .l-page {
    width: 100%;
  }
}

@media (max-width: 640px) {
  #block-formblock-status {
    .field-name-field-body,
    .form-actions {
      margin-bottom: .5rem;
      width: 100%;
    }
  }
}
