.site-name {
  font-size: 4rem;
}
.site-name a {
  text-decoration: none;
}
.site-name span span {
  color: #d1344e;
}

.messages {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: none;
  padding: 1rem 1.5rem;
}

.messages--error {
  border-color: #d1344e;
  color: #d1344e;
}

.vertical-tabs {
  background: white;
}

.vertical-tabs-panes {
  padding: 1rem 0;
}

.fa-square-o:before,
.fa-check-square-o:before,
.fa-circle-o:before,
.fa-dot-circle-o:before {
  display: inline-block;
  width: 2rem;
}
