::selection {
  background: #525252;
  color: white;
}

::-moz-selection {
  background: #525252;
  color: white;
}

* {
  outline: none;
}

html {
  font-size: 62.5%;
}

a {
  color: #525252;
}

h1 {
  font-weight: 300;
}

body {
  background: url('../images/grey.png?1346178886');
  border-top: solid 5px #525252;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.l-page {
  margin: 0 auto;
  width: 960px;
}
